--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.116.1
numpy==2.3.2
Pillow==11.3.0
uvicorn==0.30.1
pydantic==
streamlit==1.49.0
requests==2.32.3

torch==2.8.0
torchvision=0.23.0

langchain==
langchain-openai
faiss-cpu
sentence-transformers==5.1.0
mlflow
